<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.1" targetFramework="net451" userInstalled="true" />
  <package id="Autofac.Extras.FakeItEasy" version="3.0.3" targetFramework="net451" userInstalled="true" />
  <package id="AutoFixture" version="3.30.8" targetFramework="net451" userInstalled="true" />
  <package id="AutoFixture.AutoFakeItEasy" version="3.30.8" targetFramework="net451" userInstalled="true" />
  <package id="Dapper" version="1.42" targetFramework="net451" userInstalled="true" />
  <package id="Dapper.Microsoft.Sql" version="0.0.5" targetFramework="net451" userInstalled="true" />
  <package id="FakeItEasy" version="1.25.2" targetFramework="net451" userInstalled="true" />
  <package id="FluentAssertions" version="3.4.1" targetFramework="net451" userInstalled="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" userInstalled="true" />
</packages>