<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.31.3" targetFramework="net46" />
  <package id="AutoFixture.AutoFakeItEasy" version="3.30.8" targetFramework="net46" />
  <package id="FakeItEasy" version="1.25.2" targetFramework="net46" />
  <package id="FluentAssertions" version="3.5.0" targetFramework="net46" />
  <package id="NUnit" version="2.6.4" targetFramework="net46" />
</packages>